:root {
    --bg-color: #eae4d5; /* Este es un tono beige claro y se utiliza como fondo. */
    --oscuro: #333333; /* #030303 Este es un tono negro oscuro y se utiliza como color de texto o para elementos destacados. */
    --marron: #471714; /* Este es un tono marrón oscuro y se utiliza como color de fondo o de acento. */
    --rojo-oscuro: #8c2c26; /* Este es un tono rojo oscuro y se utiliza para títulos o botones. */
    --rojo: #d14138; /* Este es un tono rojo oscuro similar al anterior y también se utiliza para títulos o botones. */
    --placeholder-gris: #999999;
    /* --font-family: 'Alegreya', sans-serif; */
/*     --font-family: 'Cormorant', serif;   */
    --font-family: 'Montserrat Alternates', sans-serif;  
    --step--2: clamp(0.69rem, calc(0.69rem + 0.04vw), 0.72rem);
    --step--1: clamp(0.83rem, calc(0.81rem + 0.12vw), 0.90rem);
    --step-0: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
    --step-1: clamp(1.20rem, calc(1.13rem + 0.36vw), 1.41rem);
    --step-2: clamp(1.44rem, calc(1.33rem + 0.55vw), 1.76rem);
    --step-3: clamp(1.73rem, calc(1.56rem + 0.82vw), 2.20rem);
    --step-4: clamp(2.07rem, calc(1.84rem + 1.17vw), 2.75rem);
    --step-5: clamp(2.49rem, calc(2.16rem + 1.64vw), 3.43rem);
}

*{
    box-sizing: border-box;
}

html {
    font-size: 16px; 
    margin: 0 auto;
    background-color: #f5f5f5; 
}

body {
    --s: 220px; /* control the size */
    --c1: #ede8dd;
    --c2: #eae4d5;
    
    --_g:radial-gradient(#0000 60%,var(--c1) 61% 63%,#0000 64% 77%,var(--c1) 78% 80%,#0000 81%);
    --_c:,#0000 75%,var(--c2) 0;
    background:
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s)* .44) calc(.9*var(--s)),
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s)*-.06) calc(.4*var(--s)),
      conic-gradient(at 20% 12% var(--_c)) calc(.9*var(--s)) calc(var(--s)* .44),
      conic-gradient(at 20% 12% var(--_c)) calc(.4*var(--s)) calc(var(--s)*-.06),
      var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2) var(--c2);
    background-size: var(--s) var(--s);

/*     font-family: Raleway, sans-serif;
    font-family: "Gothic A1";
    font-family: 'Crimson Text', serif; */
    font-family: var(--font-family);
    font-display: swap;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

/* / / / INPUT FIELDS/ / / */

contenedor {
    padding: max(4vw, 1rem);
}

.input__contenedor {
    float: left;
    position: relative;
    border-radius: 4px;
    width: 100%;
}

.input__style:focus ~ .label__style, .textarea__style:focus ~ .label__style, .input__style:valid ~ .label__style, .textarea__style:valid ~ .label__style {
    font-size: 0.75em;
    color: #999;
    top: -10px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.input__contenedor .label__style {
    color: var(--placeholder-gris);
    padding: 1.3rem 12px 1rem 12px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.input__style,
.textarea__style {
    padding-top: 25px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: 0;
    width: 100%;
    font-size: var(--step-0); 
    font-family: var(--font-family) ;
    color: var(--oscuro);
    border-radius: 4px;
}

.input__style:focus,
.textarea__style:focus { outline: 0; }

.input__style:focus ~ span,
.textarea__style:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

.textarea__style {
    width: 100%;
    margin-bottom: 1rem;
}

input[type=file]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
  }

/*  /// FIN INPUTS ///  */

.boton__rojo {
    cursor: pointer;
    border: 0;
    padding: 11px;
    background-color: var(--rojo);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    height: min-content;
}

.boton__rojo__texto {
    position: relative;
    font-family: var(--font-family);
    color: #fff;
    text-align: left;
    font-size: var(--step--1);
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
}

.boton__blanco {
    cursor: pointer;
    border: 1px solid #8c2c26;
    padding: 11px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 133px;
    height: min-content;
}

.boton__blanco__texto {
    position: relative;
    font-family: var(--font-family);
    color: #8c2c26 ;
    text-align: left;
    font-size: var(--step--1);
    font-weight: 600;
    line-height: 16.44px;
    letter-spacing: 0em;
}

.fit-content {
    width: fit-content;
}

@media (min-width: 1440px) {

    body {
      margin: 0 auto;
    }

  }