.catalogo {
    padding: max(4vw, 1rem);
}

.catalogo__contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categoria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.categoria__titulo {
    font-size: var(--step-1);
    font-weight: bold;
    color: #333;
}

.categoria__link {
    font-size: var(--step--1);
    font-weight: bold;
    color: var(--rojo-oscuro);
}

.producto__lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    max-width: 1136px;
    justify-content: start;
}

 .producto__lista::after {
    content: "";
    background-color: transparent;
    flex: 6 0 156px; 
}
 
.producto {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 156px;
}

.producto img {
   width: 100%;
   height: auto;
}

.producto__titulo {
    font-size: var(--step--1);
    font-weight: normal;
    margin: .5rem 0;
}

.producto__precio {
    margin-bottom: .5rem;
    font-size: var(--step-0);
    font-weight: bold;
    color: #333;
}

.producto__link {
    font-size: var(--step--1);
    font-weight: bold;
    color: var(--rojo-oscuro);
}

@media screen and (min-width: 768px) {

    .catalogo {
        padding:  2rem max(4vw, 2rem); 
    }

}