.foo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1136px;
    width: 100%;
}

.footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--rojo);
    width: 100%; 
}

.footer__logo {
    position: relative;
}

.footer__logo__imagen {
    width: 4rem;
    height: auto;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));   
}

.footer__logo__titulo {
    font-family: var(--font-logo);
    /* text-shadow: 1px 1px 2px rgba(0,0,0,0.3); */

    text-shadow: 2px 2px 2px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);

    font-weight: 600;
    font-style: normal;
    margin-bottom: 1rem;
}

.footer__lista {
    text-align: center;
    position: relative;
}

.footer__item {
    padding: .5rem;
}

.footer__link {
    color: #fff;
    font-size: var(--step-0);
}

/* -- CONTACTO -- */

.contacto {
    padding: 1rem;
    width: 100%; 
}

.contacto__titulo {
    margin: 0;
    font-size: var(--step-0);
    color: var(--oscuro);
    /* margin-bottom: 1rem; */
}

.contacto__form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
}
/* ----------------- */

.developer__autor {
    font-size: var(--step--2);
}

@media screen and (min-width: 768px) {

    .foo {
        flex-direction: row;
    }

    .footer {
        padding: 2rem;
        width: 40%;
    }

    .footer__lista {
        text-align: start;
        line-height: 20px;
    }

    .contacto {
        padding: 1rem;
        padding-right: 2rem;
        width: 60%;
    }    

}

@media screen and (min-width: 1440px) {

    .footer {
        padding-left: 0; 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* flex-grow: 3; */
    }

    .footer__lista {
        line-height: 25px;
    }
    
    .footer__logo__imagen {
        width: 10rem;
    }

    .contacto {
        padding-right: 0; 
        padding-bottom: 3rem;
        /* flex-grow: 5; */
    }    

}