.footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--rojo);
}

.footer__logo__imagen {
    width: 4rem;
    height: auto;   
}

.footer__logo__titulo {
    font-family: Ink free;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer__lista {
    text-align: center;
}

.footer__item {
    padding: .5rem;
}

.footer__link {
    color: #fff;
    font-size: 1rem;
}

.developer__autor {
    font-size: x-small;
}

@media screen and (min-width: 768px) {

    .footer {
        padding: 2rem;
        flex-grow: 1;
    }

    .footer__lista {
        text-align: start;
    }
}

@media screen and (min-width: 1440px) {

    .footer {
        padding-left: 9.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 3;
    }

    .footer__logo__imagen {
        width: 10rem;
    }

    .developer__autor {
        font-size: small;
    }

}