body {
    background-color: var(--bg-color) ;
}
.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__imagen {
    width: 4rem;
    height: auto;
}

.header__logo__titulo {
    font-family: Ink free;
    font-weight: 600;

    font-style: italic;
    line-height: 0px;

    position: relative;
    top: 5px;
}

.header__logo__titulo span.span1 {
    color: #8c2c26;
}

.header__logo__titulo span.span2 {
    color: #000;
    right: 5px;
    position: relative;
}

.header__logo__titulo span.span3 {
    color: #000;
    font-family: Alegreya Sans SC;
    font-style: italic;
    font-weight: lighter;
    font-size: 6px;
    line-height: 8px;
    position: relative;
    left: 12px;
    bottom: 3px;
}

.header__boton {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    background-color: white;
    color: #8c2c26 ;
    border: 1px solid #8c2c26;
    padding: 10px 16px;
    width: 133px;
    height: 40px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.header__icono i {
    color: #8c2c26; 
    padding: .2rem;
  }
  

